<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org"-->
<!--      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Invoice List</title>-->
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"-->
<!--          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
<!--    <th:block th:replace="~{layout :: link-css}"></th:block>-->
<!--</head>-->
<!--<body>-->
<!--<th:block th:replace="~{layout :: header}"></th:block>-->
<!--<div class="container">-->
<!--    <div class="row">-->
<!--        <div class="col-md-12">-->
<!--            <nav class="navbar navbar-light">-->
<!--                <div class="container-fluid">-->
<!--                    &lt;!&ndash; Nó sẽ lấy giá trị của biến title hiển thị ra ở thẻ h1 này-->
<!--                     biến title được truyền từ đâu controller qua&ndash;&gt;-->
<!--                    <h1 >My Invoice List</h1>-->

<!--                    &lt;!&ndash;Show giao diện người dùng để điền từ khóa vào và search  &ndash;&gt;-->
<!--                    <form class="d-flex" th:action="@{/invoice/search}" method="get">-->
<!--                        <input class="form-control me-2" type="search" placeholder="Search"-->
<!--                               aria-label="Search" name="keyword">-->
<!--                        <button class="btn btn-outline-success" type="submit">Search</button>-->
<!--                    </form>-->
<!--                </div>-->
<!--            </nav>-->
<!--        </div>-->
<!--    </div>-->
<!--    <table class="table">-->
<!--        <tr>-->
<!--            <th><a th:href="@{/invoice(pageNo=${currentPage}, sortBy= 'id')}">Id</a></th>-->
<!--            <th><a th:href="@{/invoice(pageNo=${currentPage}, sortBy= 'user.username')}">Username</a></th>-->
<!--            <th><a th:href="@{/invoice(pageNo=${currentPage}, sortBy= 'user.name')}">Name</a></th>-->
<!--            <th><a th:href="@{/invoice(pageNo=${currentPage}, sortBy= 'user.email')}">Email</a></th>-->
<!--            <th><a th:href="@{/invoice(pageNo=${currentPage}, sortBy= 'invoiceDate')}">Date</a></th>-->
<!--            <th><a th:href="@{/invoice(pageNo=${currentPage}, sortBy= 'price')}">Price</a></th>-->
<!--            &lt;!&ndash;action se show ra quyen admin ko thì off&ndash;&gt;-->
<!--            <th sec:authorize="hasAnyAuthority('ADMIN')">Action</th>-->
<!--        </tr>-->
<!--        <tr th:each="invoice : ${invoices}">-->
<!--            <td th:text="${invoice.id}"></td>-->
<!--            <td th:text="${invoice.user.username}"></td>-->
<!--            <td th:text="${invoice.user.name}"></td>-->
<!--            <td th:text="${invoice.user.email}"></td>-->
<!--            <td th:text="${invoice.invoiceDate}"></td>-->
<!--            <td th:text="${invoice.price}"></td>-->
<!--&lt;!&ndash;            <td sec:authorize="hasAnyAuthority('ADMIN')">&ndash;&gt;-->
<!--            <td>-->
<!--                <a class="btn btn-primary" th:href="@{/invoice/detail/{id}(id=${invoice.id})}">Detail</a>-->
<!--&lt;!&ndash;                <a class="btn btn-danger" th:href="@{/invoice/delete/{id}(id=${invoice.id})}"&ndash;&gt;-->
<!--&lt;!&ndash;                   onclick="return confirm('Are you sure?')">Delete</a>&ndash;&gt;-->
<!--            </td>-->
<!--        </tr>-->
<!--    </table>-->
<!--</div>-->
<!--<nav class="Page navigation example" style="display: flex;-->
<!--    justify-content: center;">-->
<!--    <ul class="pagination justify-content-center" th:each="i : ${#numbers.sequence(0, totalPages)}">-->
<!--        <li style="margin-left: 10px;" class="page-item" th:classappend="${currentPage == i} ? 'active'">-->
<!--            <a class="page-link" th:href="@{/invoice(pageNo=${i})}" th:text="${i+1}"></a>-->
<!--        </li>-->
<!--    </ul>-->
<!--</nav>-->
<!--&lt;!&ndash;<nav aria-label="Page navigation example">&ndash;&gt;-->
<!--&lt;!&ndash;  <ul class="pagination justify-content-center">&ndash;&gt;-->
<!--&lt;!&ndash;    <li th:if="${bookPage.totalPages > 0}" class="page-link" th:each="pageNumber : ${pageNumbers}">&ndash;&gt;-->
<!--&lt;!&ndash;      <a th:href="@{/books(size=${bookPage.size}, page=${pageNumber})}"  th:text=${pageNumber}&ndash;&gt;-->
<!--&lt;!&ndash;         th:class="${pageNumber==bookPage.number + 1} ? active" class="page-link"  ></a>&ndash;&gt;-->
<!--&lt;!&ndash;    </li>&ndash;&gt;-->
<!--&lt;!&ndash;  </ul>&ndash;&gt;-->
<!--&lt;!&ndash;</nav>&ndash;&gt;-->
<!--&lt;!&ndash;<div th:if="${bookPage.totalPages > 0}" class="pagination" th:each="pageNumber : ${pageNumbers}">&ndash;&gt;-->
<!--&lt;!&ndash;  <a th:href="@{/books(size=${bookPage.size}, page=${pageNumber})}" th:text=${pageNumber}&ndash;&gt;-->
<!--&lt;!&ndash;     th:class="${pageNumber==bookPage.number + 1} ? active"></a>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--<th:block th:replace="~{layout :: footer}"></th:block>-->
<!--</body>-->
<!--</html>-->